body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: grey;
}

.google-map {
  resize: both;
 grid-area: a;
 width: 5000px;
 height: 5000px;
 border-color: black;
 border-width: 1px;
 grid-column-start: 1;
 grid-row-start: 1;
 margin: 0 auto;
}
